In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
url = 'https://www.boxofficemojo.com/year/2022/'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [6]:
table = soup.find('table')

In [15]:
# get all the rows from that one table
rows = table.find_all('tr')
# some more trial-and-error testing to find out which row holds the first movie
#print(rows[1])
# now that I have the right row, get all the cells in that row
cells = rows[1].find_all('td')
# see whether I can print the movie title cleanly
title = cells[1].text
print(title)

Top Gun: Maverick

In [21]:

#get top 5 movie on this page 
for i in range (1,6):
    cells = rows[i].find_all('td')
    title = cells[1].text
    print(title)

Top Gun: Maverick
Black Panther: Wakanda Forever
Doctor Strange in the Multiverse of Madness
Avatar: The Way of Water
Jurassic World Dominion

In [24]:
#now , printing the total gross 
for i in range(1,6):
    cells = rows[i].find_all('td')
    gross = cells[5].text
    print(gross)

$718,318,561
$436,499,646
$411,331,607
$401,007,908
$376,851,080

In [27]:
#noe , im printing rank, name and gross 
for i in range (1,6):
    cells = rows[i].find_all('td')
    print(cells[0].text , cells[1].text , cells[5].text)

1 Top Gun: Maverick $718,318,561
2 Black Panther: Wakanda Forever $436,499,646
3 Doctor Strange in the Multiverse of Madness $411,331,607
4 Avatar: The Way of Water $401,007,908
5 Jurassic World Dominion $376,851,080

In [33]:
# create a list of the 10 years I want
years = []
start = 2023
for i in range(0, 10):
    years.append(start - i)
print(years)

[2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014]

In [35]:
#create base url 
base_url = 'https://www.boxofficemojo.com/year/'
#print(base_url + years[0] + '/')
print(base_url +str( years[0]) +'/')

https://www.boxofficemojo.com/year/2023/

In [36]:
# top 5 movies for each of the 10 years in my list of the years 
for year in years:
    url = base_url + str(year) + '/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    table = soup.find( 'table' )
    rows = table.find_all('tr')
    for i in range(1, 6):
        cells = rows[i].find_all('td')
        print(cells[0].text, cells[1].text, cells[5].text)

1 Barbie $594,254,460
2 The Super Mario Bros. Movie $574,759,600
3 Spider-Man: Across the Spider-Verse $381,178,195
4 Guardians of the Galaxy Vol. 3 $358,995,815
5 Oppenheimer $300,144,670
1 Top Gun: Maverick $718,318,561
2 Black Panther: Wakanda Forever $436,499,646
3 Doctor Strange in the Multiverse of Madness $411,331,607
4 Avatar: The Way of Water $401,007,908
5 Jurassic World Dominion $376,851,080
1 Spider-Man: No Way Home $572,984,769
2 Shang-Chi and the Legend of the Ten Rings $224,543,292
3 Venom: Let There Be Carnage $212,609,036
4 Black Widow $183,651,655
5 F9: The Fast Saga $173,005,945
1 Bad Boys for Life $204,417,855
2 1917 $157,901,466
3 Sonic the Hedgehog $146,066,470
4 Jumanji: The Next Level $124,736,710
5 Star Wars: Episode IX - The Rise of Skywalker $124,496,308
1 Avengers: Endgame $858,373,000
2 The Lion King $543,638,043
3 Toy Story 4 $434,038,008
4 Frozen II $430,144,682
5 Captain Marvel $426,829,839
1 Black Panther $700,059,566
2 Avengers: Infinity War $678,815,482
3 Incredibles 2 $608,581,744
4 Jurassic World: Fallen Kingdom $417,719,760
5 Deadpool 2 $318,491,426
1 Star Wars: Episode VIII - The Last Jedi $517,218,368
2 Beauty and the Beast $504,014,165
3 Wonder Woman $412,563,408
4 Guardians of the Galaxy Vol. 2 $389,813,101
5 Spider-Man: Homecoming $334,201,140
1 Finding Dory $486,295,561
2 Rogue One: A Star Wars Story $408,235,850
3 Captain America: Civil War $408,084,349
4 The Secret Life of Pets $368,384,330
5 The Jungle Book $364,001,123
1 Jurassic World $652,270,625
2 Star Wars: Episode VII - The Force Awakens $651,967,269
3 Avengers: Age of Ultron $459,005,868
4 Inside Out $356,461,711
5 Furious 7 $353,007,020
1 Guardians of the Galaxy $332,934,626
2 The Hunger Games: Mockingjay - Part 1 $313,282,914
3 Captain America: The Winter Soldier $259,766,572
4 The Lego Movie $257,760,692
5 Transformers: Age of Extinction $245,439,076

In [40]:
# testing a way to add the year to each line, using a list with only two years in it to save time

miniyears = [2022, 2020]
for year in miniyears:
    url = base_url + str(year) + '/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    table = soup.find( 'table' )
    rows = table.find_all('tr')
    for i in range(1, 6):
        cells = rows[i].find_all('td')
        gross = cells[5].text.strip('$').replace(',', '')
        print(year, cells[0].text, cells[1].text, gross)

2022 1 Top Gun: Maverick 718318561
2022 2 Black Panther: Wakanda Forever 436499646
2022 3 Doctor Strange in the Multiverse of Madness 411331607
2022 4 Avatar: The Way of Water 401007908
2022 5 Jurassic World Dominion 376851080
2020 1 Bad Boys for Life 204417855
2020 2 1917 157901466
2020 3 Sonic the Hedgehog 146066470
2020 4 Jumanji: The Next Level 124736710
2020 5 Star Wars: Episode IX - The Rise of Skywalker 124496308

In [41]:
import csv

In [42]:
# open the new file for writing - this creates the file 
csvfile = open('movie.csv' ,'w' , newline = '' , encoding ='utf-8')

#make a new variable c for python's CSV writer object - 
c = csv.writer(csvfile)

#write a header row to the csv
c.writerow(['year','rank','title', 'gross'])

#modified code from above 
for year in years:
    url = base_url + str(year) + '/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    table = soup.find( 'table' )
    rows = table.find_all('tr')
    for i in range(1, 6):
        cells = rows[i].find_all('td')
        gross = cells[7].text.strip('$').replace(',', '')
        # print(year, cells[0].text, cells[1].text, gross)
        # instead of printing, I need to make a LIST and write that list to the CSV as one row
        # I use the same cells that I had printed before 
        c.writerow( [year, cells[0].text, cells[1].text, gross] )

# close the file
csvfile.close()

print("The CSV is done!")

The CSV is done!